
    <div class="search">

      <form class="cineSearch">
		<h4>Kino</h4>
        <label for="kino">Kino:</label>
          <input type="text" id="bezeichnung" name="bezeichnung"/></br>

          <label for="ort">Ort:</label>
          <input type="text" id="kinoOrt" name="ort"/></br>

          <label for="plz">PLZ:</label>
          <input type="text" id="plz" name="plz"/></br>

          <label for="bewertung">Bewertung:</label>
          <input type="text" id="bewertung" name="bewertung"/></br>




          <label for="kinotag">Kinotag:</label></br>
          <input type="checkbox" name="kinotag" value="mo">Mo
          <input type="checkbox" name="kinotag" value="di">Di
          <input type="checkbox" name="kinotag" value="mi">Mi
          <input type="checkbox" name="kinotag" value="do">Do
          <input type="checkbox" name="kinotag" value="fr">Fr
          <input type="checkbox" name="kinotag" value="sa">Sa
          <input type="checkbox" name="kinotag" value="so">So</br></br>


            <input type="submit" value="Submit" name="submit"/>

        </form>

	</div>
