
    <div class="search">

      <form class="cineSearch">
        <label for="kino">Kino:</label>
          <input type="text" id="bezeichnung" name="bezeichnung"/></br>

          <label for="ort">Ort:</label>
          <input type="text" id="kinoOrt" name="ort"/></br>

          <label for="plz">PLZ:</label>
          <input type="text" id="plz" name="plz"/></br>

          <label for="bewertung">Bewertung:</label>
          <input type="text" id="bewertung" name="bewertung"/></br>




          <label for="kinotag">Kinotag:</label>
          <input type="checkbox" name="kinotag" value="mo">Montag
          <input type="checkbox" name="kinotag" value="di">Dienstag
          <input type="checkbox" name="kinotag" value="mi">Mittwoch
          <input type="checkbox" name="kinotag" value="do">Donnerstag
          <input type="checkbox" name="kinotag" value="fr">Freitag
          <input type="checkbox" name="kinotag" value="sa">Samstag
          <input type="checkbox" name="kinotag" value="so">Sonntag<br>


            <input type="submit" value="Submit" name="submit"/>

        </form>

	</div>
