<meta charset="UTF-8">
<title>Cinefox - Your movieplaner</title>




<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<script src="http://code.jquery.com/jquery-1.9.0.js"></script>






<style>
    body    { padding-top:50px; }

    .jumbotron  { background-color: #ff0000	}

    .jumbotron>.main-heading { color: #F8F8FF	}

    .jumbotron>.underline { color: #F8F8FF	}
	  
	.category {
		margin: 0 0 0 50px;
		padding: 0 0 0 25px;
	}
	  
	.cineBox {
		
	}

	.movieBox {
	  
	}
	  
	.timeBox {
	  
	}	  
	  
	.prio0 {
		background-color: #f00;
	}
	.prio1 {
		background-color: #0f0;
	}
	.prio2 {
		background-color: #00f;
	}

</style>
