<meta charset="UTF-8">
<title>Cinefox - Your movieplaner</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<style>
      body    { padding-top:50px; }

      .jumbotron  { background-color: #ff0000	}

      .jumbotron>.main-heading { color: #F8F8FF	}

      .jumbotron>.underline { color: #F8F8FF	}

</style>
