<div class="search">
        <div class="categories">
                <form class="moviePost">
                        <h3>Filminformationen:</h3>

                        <label for="deTitel">Film:</label></br>
                        <input type="text" id="deTitel" name="deTitel" size="35"/></br>

                        <label for="orTitel">Original Titel:</label></br>
                        <input type="text" id="orTitel" name="orTitel" size="35"/></br>

                        <label for="erscheinungstermin">Erscheinungstermin (YYYY-MM-DD):</label></br>
                        <input type="text" id="erscheinungstermin" name="erscheinungstermin" size="35"/></br>

                        <label for="genre">Genre:</label></br>
                        <input type="text" id="genre" name="genre" size="35"/></br>

                        <label for="dauer">Dauer (min.):</label></br>
                        <input type="text" id="dauer" name="dauer" size="35"/></br>

                        <label for="kurzbeschreibung">Kurzbeschreibung:</label></br>
                        <input type="text" id="kurzbeschreibung" name="kurzbeschreibung" size="35"/></br>

                        <label for="regie">Regie</label></br>
                        <input type="text" id="regie" name="regie" size="35"/></br>

                        <label for="ot">Original-Ton:</label></br>
                        <input type="text" id="ot" name="ot" size="35"/></br>

                        <label for="thumbnail">Thumbnail:(Platzhalter)</label></br>
                        <input type="text" id="thumbnail" name="thumbnail" size="35"/></br></br>

                        <input type="submit" value="Submit" name="submit"/>

                </form>

        </div>
</div>
