<div class="search">
        <div class="categories">
                <form class="moviePost">

                        <label for="deTitel">Film:</label></br>
                        <input type="text" id="deTitel" name="deTitel"/></br>

                        <label for="orTitel">Original Titel:</label></br>
                        <input type="text" id="orTitel" name="orTitel"/></br>

                        <label for="erscheinungstermin">Erscheinungstermin (YYYY-MM-DD):</label></br>
                        <input type="text" id="erscheinungstermin" name="erscheinungstermin"/></br>

                        <label for="genre">Genre:</label></br>
                        <input type="text" id="genre" name="genre"/></br>

                        <label for="dauer">Dauer (min.):</label></br>
                        <input type="text" id="dauer" name="dauer"/></br>

                        <label for="kurzbeschreibung">Kurzbeschreibung:</label></br>
                        <input type="text" id="kurzbeschreibung" name="kurzbeschreibung"/></br>

                        <label for="regie">Regie</label></br>
                        <input type="text" id="regie" name="regie"/></br>

                        <label for="ot">Original-Ton:</label></br>
                        <input type="text" id="ot" name="ot"/></br>

                        <label for="thumbnail">Thumbnail:(Platzhalter)</label></br>
                        <input type="text" id="thumbnail" name="thumbnail"/></br>

                        <input type="submit" value="Submit" name="submit"/>

                </form>

        </div>
</div>
