
    <div class="search">

      <form class="movieSearch">
		<h4>Film</h4>
        <label for="deTitel">Film:</label>
          <input type="text" id="deTitel" name="deTitel"/></br>

          <label for="genre">Genre:</label>
          <input type="text" id="genre" name="genre"/></br>

          <label for="erscheinungstermin">Erscheinungstermin (YYYY-MM-DD):</label></br>
          <input type="text" id="erscheinungstermin" name="erscheinungstermin"/></br>

          <label for="dauer">Dauer (min.):</label>
          <input type="text" id="dauer" name="dauer"/></br></br>

            <input type="submit" value="Submit" name="submit"/>

        </form>

	</div>
