

	<% var kinos = {"kinos" : [{"bezeichnung" : ""}]}; %>
		<%
			if(kinos[0] !== undefined){ %>
				<% var cache = ''; %>
				<ul>
					<% kinos.forEach(function(kino) { %>
						<li><%= kino.bezeichnung %></li>
					<% }); 

					%>
				</ul<%
			}
		%>
