
    <div class="search">

      <form class="timeSearch">
	  	  <h4>Zeit</h4>
          <label for="spielplanID">SpielplanID (nur zum Testen):</label></br>
          <input type="text" id="spielplanID" name="spielplanID"/></br>

          <label for="ueberlaenge">Überlänge:</label>
		  <input type="radio" id="ueberlaenge" name="ueberlaenge" value="true">Ja
		  <input type="radio" id="ueberlaenge" name="ueberlaenge" value="false">Nein</br>

          <label for="in3D">in 3D:</label>
		  <input type="radio" id="in3D" name="in3D" value="true">Ja
		  <input type="radio" id="in3D" name="in3D" value="false">Nein</br>

         <label for="spieltag">Spieltag:</label></br>
          <input class="showday" type="checkbox" name="mo" value="mo">Mo
          <input class="showday" type="checkbox" name="di" value="di">Di
          <input class="showday" type="checkbox" name="mi" value="mi">Mi
          <input class="showday" type="checkbox" name="do" value="do">Do
          <input class="showday" type="checkbox" name="fr" value="fr">Fr
          <input class="showday" type="checkbox" name="sa" value="sa">Sa
          <input class="showday" type="checkbox" name="so" value="so">So</br>

		  <div class="showTime"></div></br>
		  <div id="liveText"></div>

            <input type="submit" value="Submit" name="submit"/>

        </form>

</div>
