<div class="search">
        <div class="categories">
                <form class="timeTablePost">
                        <h3>Spielplaninformationen:</h3>

                        <label for="kalenderwoche">Kalenderwoche:</label></br>
                        <input type="text" id="kalenderwoche" name="kalenderwoche" maxlength="2" size="1"/></br></br>



                        <div style="border:1px solid grey">
                        <label for="ueberlaenge">Überlänge</label></br>
                        <input type="radio" id="fa" name="ueberlaenge" value="false" checked="checked"><label for="fa">nein</label></br>
                        <input type="radio" id="tr" name="ueberlaenge" value="true"><label for="tr">ja</label></br>
                        </div></br>
                        <div style="border:1px solid grey">
                        <label for="in3D">In 3D</label></br>
                        <input type="radio" id="fa" name="in3D" value="false" checked="checked"><label for="fa">nein</label></br>
                        <input type="radio" id="tr" name="in3D" value="true"><label for="tr">ja</label></br>
                        </div>



                        <input type="submit" value="Submit" name="submit"/>

                </form>

        </div>
</div>
