
    <div class="search">

      <form class="timeSearch">
          <label for="spielplanID">SpielplanID (nur zum Testen):</label>
          <input type="text" id="spielplanID" name="spielplanID"/></br>

          <label for="ueberlaenge">Überlänge:</label>
		  <input type="radio" id="ueberlaenge" name="ueberlaenge" value="true">Ja
		  <input type="radio" id="ueberlaenge" name="ueberlaenge" value="false">Nein</br>

          <label for="in3D">in 3D:</label>
		  <input type="radio" id="in3D" name="in3D" value="true">Ja
		  <input type="radio" id="in3D" name="in3D" value="false">Nein</br>




          <label for="spieltag">Spieltag:</label>
          <input type="checkbox" name="spieltag" value="mo">Mo
          <input type="checkbox" name="spieltag" value="di">Di
          <input type="checkbox" name="spieltag" value="mi">Mi
          <input type="checkbox" name="spieltag" value="do">Do
          <input type="checkbox" name="spieltag" value="fr">Fr
          <input type="checkbox" name="spieltag" value="sa">Sa
          <input type="checkbox" name="spieltag" value="so">So<br>


            <input type="submit" value="Submit" name="submit"/>

        </form>

	</div>
