<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script>
        $(document).ready(function(){

                var query = window.location.search.substring(1);
                console.log(query);
                var pairs = query.split('&');
                console.log(pairs);
                var ident = pairs[0].split('=');
                console.log(ident);
                var cinemaID = ident[1];
                console.log(cinemaID);

                var kino = "";
                var filme = [];
                var alleFilme = [];

                var $cineTableBody = $('.cineTableBody');
                var $filmTableBody = $('.filmTableBody');
                var $info = $('.info');
                var $btnremove = "";


                function getCurrentCinema(){
                        return $.ajax({
                                        url: '/kinos',
                                        method: 'GET',
                                        data: query,
                                        contentType: 'application/json',
                                        success: function(currentCinema) {
                                                kino = currentCinema[0];
                                                $info.append('<p>'+'Kino: '+currentCinema[0].bezeichnung+
                                                                '</br>Kinotag: '        +currentCinema[0].kinotag+
                                                                '</br>Reservierung: '	+currentCinema[0].reservierungsHotline+
                                                                '</br>Preise: '		+currentCinema[0].preise+
                                                                '</br>Bewertung: '	+currentCinema[0].bewertung+
                                                                '</p>');




                                        }
                                });
                        }

                        // function getCurrentCinema(){
                        //         return $.ajax({
                        //                         url: '/kinos/'+cinemaID,
                        //                         method: 'GET',
                        //                         // data: query,
                        //                         contentType: 'application/json',
                        //                         success: function(currentCinema) {
                        //                                 kino = currentCinema[0];
                        //                                 $info.append('<p>'+'Kino: '+currentCinema[0].bezeichnung+
                        //                                                 '</br>Kinotag: '        +currentCinema[0].kinotag+
                        //                                                 '</br>Reservierung: '	+currentCinema[0].reservierungsHotline+
                        //                                                 '</br>Preise: '		+currentCinema[0].preise+
                        //                                                 '</br>Bewertung: '	+currentCinema[0].bewertung+
                        //                                                 '</p>');
                        //
                        //
                        //
                        //
                        //                         }
                        //                 });
                        //         }



                function getSpielplan(){
                        return $.ajax({
                                url: '/spielplaene',
                                method: 'GET',
                                data: query,
                                contentType: 'application/json',
                                success: function(dates){
                                        // console.log(dates);
                                        $.each(dates, function(i, date){
                                                // console.log(date);
                                                // console.log(date.filmID);
                                                filme[i]=date.filmID;
                                        });
                                }
                        });
                }


                function getAllFilms(){
                        return $.ajax({
                                url: '/filme',
                                method: 'GET',
                                contentType: 'application/json',
                                success: function(allFilms){

                                        $.each(allFilms, function(m, oneFilm){
                                                $filmTableBody.append('<tr><td>'+oneFilm.deTitel+
                                                                        '</td><td>'+oneFilm.erscheinungstermin+
                                                                        '</td><td>'+oneFilm.genre+
                                                                        '</td></tr>');
                                        })


                                        $('.btn-remove').click(function(event){
                                                event.preventDefault();
                                                var buttonId = $(this).attr('id');
                                                alert(buttonId);
                                        });


                                }
                        });
                }

                function getFilmByIndexId(indexId){
                        return $.ajax({
                                url: '/filme',
                                method: 'GET',
                                data: 'filmID='+filme[indexId],
                                contentType: 'application/json',
                                success: function(tableElements){

                                        $.each(tableElements, function(k, tableElement){
                                                $cineTableBody.append('<tr><td>'+tableElement.deTitel+'</td><td>'+tableElement.erscheinungstermin+'</td><td>'+tableElement.genre+'</td></tr>');

                                        })
                                }
                        });
                }




                // Quelle: https://gist.github.com/lfender6445/6707904
                query_to_json = function() {
                        var j, q;
                        q = $('.moviePost').serialize().replace(/\?/, "").split("&");
                        j = {};
                        $.each(q, function(i, arr) {
                                arr = arr.split('=');
                                return j[arr[0]] = arr[1];
                        });
                        return j;
                }




                $.when(getCurrentCinema()).done(function(){
                        getSpielplan();

                });


                $.when( getSpielplan() ).done( function(){
                        $.each(filme, function(j, film){
                                getFilmByIndexId(j);
                        });
                });

                $.when(getFilmByIndexId()).done(function(){
                        getAllFilms();
                });

                // $.when( getSpielplan() ).done( function(){
                //         getAllFilms();
                //
                // });


                // $.when(getAllFilms()).done(function(){
                //         getFilmByIndexId();
                // });

                $('.moviePost').on('submit', function(event){
                        event.preventDefault();
                        console.log($('.moviePost').serialize());
                        // console.log(query_to_json()+'!!!!!!!!!!!!!!!!!!!!!!!!!!!! hier hinschauen');
                        // console.log(JSON.stringify(query_to_json()));
                        var data = query_to_json();
                        // console.log(data);
                        // console.log(data.deTitel);


                        $.ajax({
                                url: '/filme',
                                method: 'POST',
                                data: JSON.stringify(data),
                                contentType: 'application/json',
                                // contentType: 'application/x-www-form-urlencoded',
                                // dataType: 'json',
                                success: function(whateverHappens) {
                                        console.log(whateverHappens);
                                }

                        })
                });


        });
    </script>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>


      <%include ../partials/main-heading %>
      <h1>Ausgewähltes Kino</h1>
      <div class="info"></div>
      <br>
      <h2>Derzeitig laufende Filme</h2>
      <div table-container>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Titel(dt.)</th>
                <th>Erscheinungstermin</th>
                <th>Genre</th>
              </tr>
            </thead>
            <tbody class="cineTableBody">

            </tbody>
          </table>
        </div>
        <br>

        <div class="moviePostContainer row">

                <div class="col-md-5">
                        <h2>Neuen Film hinzufügen</h2>

                <%include ../partials/movie-post-form %>
                </div>
                <h2>Verfügbare Filme</h2>
                <div class="col-md-7 movie-list" style="overflow:scroll; height:400px;">

                        <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th>Titel(dt.)</th>
                                    <th>Erscheinungstermin</th>
                                    <th>Genre</th>
                                  </tr>
                                </thead>
                                <tbody class="filmTableBody">

                                </tbody>
                        </table>
                </div>
        </div>

    </main>



        <!-- <%include ../partials/movie-post-form %> -->
        <!-- <ul class="movieResults"></ul> -->



    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
