<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>

      <%include ../partials/main-heading %>


      <!-- <a href="/customer" class="btn btn-default" role="button">Customer</a> -->
      <!-- <button type="button" class="btn btn-default">Customer</button> -->


    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
