<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>

</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>

      <%include ../partials/main-heading %>
      <%include ../partials/cinema-selector %>




    </main>



        <!-- <%include ../partials/movie-post-form %> -->
        <!-- <ul class="movieResults"></ul> -->



    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
