<html>
	<head>
		<title>Cinefox - Suche</title>
		<link href="style.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<div class="userbar">
		</div>
	
		<h1>Suche</h1>
		
		<div class="kategorie">
			<h3>Kinos - Erweiterte Suche</h3>
			
			<div class="search">
				<form 
			</div>
			
			<%
				if(kinos[0] !== undefined){
				%><ul>
					<%
						for(var i = 0; i < users.length; i++) {
							%><li><%= kinos[i].bezeichnung %></li><%
						}
					%>
				</ul><%
				}
			%>
		</div>
		<div class="kategorie">
		</div>
		<div class="kategorie">
		</div>		

		

	</body>
</html>